In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
num_rows = df.shape[0]
print(num_rows)

9704

In [7]:
unique_fuel = df['fuel_type'].unique()
print(len(unique_fuel))

2

In [8]:
 print(df.isnull().sum())

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
max_value = df['fuel_efficiency_mpg'].max()
print(max_value)

25.96722204888372

In [10]:
unique_origin = df['origin'].unique()
print(unique_origin)

['Europe' 'USA' 'Asia']

In [11]:
filtered_df = df[df['origin'] == 'Asia']
max_value = filtered_df['fuel_efficiency_mpg'].max()
print(max_value)

23.759122836520497

In [12]:
init_median = df['horsepower'].median()
print(init_median)

149.0

In [13]:
mode = df['horsepower'].mode()
print(mode)

0    152.0
Name: horsepower, dtype: float64

In [14]:
df_copy = df.copy()
df_copy['horsepower'] = df_copy['horsepower'].fillna(mode)
final_median = df_copy['horsepower'].median()
print(final_median)

149.0

In [15]:
delta_median = final_median - init_median
print(delta_median)

0.0

In [16]:
asia_df = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7)
print(asia_df)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [17]:
X = asia_df.to_numpy()
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [18]:
X_transpose = X.T
print(X_transpose)

[[2714.21930965 2783.86897424 3582.68736772 2231.8081416  2659.43145076
  2844.22753389 3761.99403819]
 [2016.         2010.         2007.         2011.         2016.
  2014.         2019.        ]]

In [19]:
XTX = X_transpose @ X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [20]:
import numpy as np

In [21]:
XTX_invert = np.linalg.inv(XTX)
print(XTX_invert)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [22]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y)

[1100 1300  800  900 1000 1100 1200]